

.SidebarControl { max-width: 330px; }

.btn_rightAlign{
    float:right;
    margin: 6px;
}
 #exit_btn{
     position: fixed;
     right: 10px;
     top: 6px;
}

 #save_state_btn{
     position: fixed;
     right: 70px;
     top: 6px;
}
 #sys_control{
     position: fixed;
     right: 10px;
     top: 5px;
}

.btn-syscontrol{
background-color: #2c3e50;
border-color: #2c3e50
}


 .btn_round {
     display:block;
     height: 30px;
     width: 20px;
     border-radius: 50%;
}
 .shiny-input-container {
    margin-bottom: 0px
}
 #file1_progress {
     margin-bottom: 0px
}


